<h1>Things that piss me off today</h1>

{% if session.user_id %}

<i>{{ session.user_name }}</i> is logged in and pissed.
<br><br>

View things that has pissed me off <a href="/mythings">click here</a>
<br><br>
Add new thing
<br>
<form action="/mythings" method="post">
Thing: <input type="text" name="thing"><br>
  <input type="submit" value="Add">
 
<!-- Flaw 1 fix (add)
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> -->

</form>
<br>

<a href="/logout">Logout</a>

<br><br>

<a href="/admin">For admins only pls don't click :(</a>

{% else %}

Login
<br>
<form action="/login" method="post">
Username: <input type="text" name="username"><br>
Passeord: <input type="password" name="password"><br>
  <input type="submit" value="Login">

<!-- Flaw 1 fix (add)
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> -->
  
</form>
<br>

Create new user <a href="/signin">click here</a>

{% endif %}