{% extends "layout.html" %}

{% block content %}

<h1>TOP 3 - Things that have annoyed you </h1>
<br><br>
{% for thing in mythings %}
<br>{{ thing[0] }}<br>
{% endfor %}
<br><br><br>

To view all the things that have ever pissed you off: <a href="/allmythings/{{ name }}">Click here</a>

<br><br><br>
<h2>Search for things that has pissed you off</h2>


<br>
<form action="/searchmythings" method="post">
Name of thing: <input type="text" name="thing">
  <input type="submit" value="Search">

<!-- Flaw 1 fix (add)
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> -->

</form>

<br>

{% if result_found %}

<i><b>{% for s in search %}
{{ s[0] }}
{% endfor %}</i></b>

is on the list, so it has previously pissed you off.

{% else %}

{{ emptyresult }}

{% endif %}

<br><br><br>

<a href="/">Return to homepage</a>

{% endblock %}